.containerHeader {
    display: flex;  
    margin-top: 10px;
    margin-bottom: 30px;
    width: 100%;
    color: #fff;
    align-items: flex-start;
    
}

.userImage {
    width: 140px;
    height: 140px;
    border-radius: 6px;
    margin-right: 20px;
   
}

