body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  

  background:
  linear-gradient(#28282B, transparent),
  linear-gradient(to top left, #1B1212, transparent),
  linear-gradient(to top right, #000000, transparent);
}


a {
  text-decoration: none;
}
